# Ignore Virtual Env
venv/
.venv/
env/

# Ignore Bytecode
__pycache__/
*.py[cod]

# Ignore Database Data (Docker Volume)
postgres_data/

# Ignore Large Files & Uploads
*.wav
*.mp3
uploads/
input_audio/
notes/

# Ignore Environment Variables (Security)
.env

# Ignore IDE settings
.vscode/